*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;

}
main{
    display: flex;
    flex-direction: column;
   
    min-height: 850px;
    background-color: black;
}

.about-me{
    background-color: red;
    flex: 1;
    
}
.projects{
    background-color: #111;
    flex: 3;
}

.contact{
    background-color: aquamarine;
    flex: 1;
}   