:root{
    --main-color:#ecfeff;
    --color-two:#164e63;
    --color-three:#cffafe;
}
@font-face {
    font-family:RobotoFont;
    src: url(./assets/Roboto-LightItalic.ttf);
}
@font-face {
    font-family:AntonFont ;
    src: url(./assets/Anton-Regular.ttf);
}
@font-face {
    font-family:codeFont  ;
    src: url(./assets/cnr.otf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
section,header{
    padding-inline: 4vw;
}


body{
    display: flex;
    flex-direction: column;

}
header{
  
    display: flex;
    font-family: AntonFont;
    padding: 8px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 4vw;;
    left: 4vw;
    color: var(--color-two);
    z-index: 2;
}
a{
    text-decoration: none; 
 }
a:visited{
    color: var(--color-two);
}
header h1:hover{
font-weight: 10;
}
.option-container{
    display: flex;
    align-items: center;
}
header img{
max-width: 36px;
max-height: 36px;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 850px;
}
img[alt$=icon]{
    filter: invert(28%) sepia(18%) saturate(1616%) hue-rotate(151deg) brightness(90%) contrast(97%);


}


.about-me{
    background-color: var(--color-three);
    flex: 1;
    padding-block: 5rem;
    font-family:RobotoFont ;
  
}
.portrait-container {
  z-index: 5;
}
.portrait-container img{
    float:left;
}
.portrait-container h2 , .portrait-container p{
    margin-top: 1rem;
   margin-inline-start:13rem ;
    font-family:codeFont ;
    color: var(--color-two);
}
.text-container{
    background-color:var(--main-color) ;
    font-family:codeFont ;
    margin-block:10px ;
    height: 90%;
    width: 100%;
    position: absolute;
}
.bio-container{
    display: flex;
   position: relative;
   
}
.bio-container h3{
    position: absolute;
    bottom: 0.5rem;
    left: 2vw;
    z-index: 6;
    font-family:RobotoFont ;
    font-size: 1.4rem;
    color: var(--color-two);
}
#projects{
    padding-block: 1.5rem;
    background-color: var(--main-color);
    color: var(--color-two);
    font-family: codeFont;
}
.project-screen{ 
   width: 100%;
   height: 60%;
}
.card{
    background-color: var(--color-three)  ;
   
}

.project-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.2rem;
}
.card p{
    padding-inline: 0.2rem;
}
.cards-containter{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 2fr);
    grid-auto-rows: 2fr;
}

.contact{
    background-color: var(--color-three);
    display: flex;
    padding-block: 1rem;
    justify-content: space-between;
    font-family: codeFont;
    color: var(--color-two);
    overflow: hidden;
}   
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.info span{
    display: flex;
    align-items: center;
    gap:4px;
    
}
.info span>img{
transform: scale(0.6);
}

/*Tablet*/
@media (max-width: 900px)and (min-width:600px){
    .bio-container h3{
        top: 0.5rem;
        left: 50%;
    }

.bio-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,10vh);
}
.portrait-container{
    grid-area: 1/1/6/5;
    z-index: 1;
    overflow: hidden;
}
img[alt="portrait"]{
    width: 50%;
    height: 80%;
    margin-right: 1rem;
   
}
.text-container{
    grid-area: 2 / 2 / 7 / 6;
    padding-left: 6vw;
}
.portrait-container h2 , .portrait-container p{
   
   margin-inline-start:0rem;

}
.portrait-container h2{
    margin-top: 5rem;
}
.portrait-container p{
    padding-left: 20vw;
}
}
/*phone*/
@media(max-width:600px){

    .bio-container{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
    }
    .portrait-container{
        grid-area: 1/1/2/2;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
    }
    img[alt="portrait"]{
      padding-left: 25vw;
       
    }
    .portrait-container h2 , .portrait-container p{
   
        margin-inline-start:0rem;
       text-align: center;
     }
    .bio-container h3{  
        position: absolute;
        top: 13.5rem;
        left: 33%;
        
    }
    picture{
        width: fit-content;
    }
    .text-container{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .contact{
        flex-direction: column;
        
    }
    .contact *{
        padding-bottom: 1rem;
    }
    .contact h2{
        font-size: 2rem;
        align-self: center;
    }
    .info .contact-icons{
        align-self: center;
        display: flex;
        gap:2rem;       
    }
    .info span>img{
        transform: scale(0);
        position:absolute;
    }
    .info-pic{
        width: 100%;
        align-self: center;
    }
    .info-pic img{
        width: 80%;
        max-height: 400px;
        padding-left: 20%;

    }
}